# Django Settings
DEBUG=True

# For encoding JWT token
JWT_SECRET_KEY=your-secret-key-here

# For encoding cookies and sessions
SECRET_KEY=your-secret-key-here

# Database
DATABASE_URL=postgresql://smartexpense_user:smartexpense_pass@db:5442/smartexpense_db

# Redis
REDIS_URL=redis://localhost:6389/0

# Telegram bot
# You can get one by setting a bot with @BotFather in Telegram
TELEGRAM_BOT_TOKEN=your-telegram-bot-token

# to encode telegram webhook header
TELEGRAM_WEBHOOK_TOKEN=your-secret-key-here

# FRONTEND
FRONTEND_URL=http://127.0.0.1:5173
FRONTEND_TEST=http://127.0.0.1:5173

ALLOWED_HOSTS=[*]