.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1rem;
  border-radius: 12px;
  margin-bottom: 0.75rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05); /* Sombra sutil */
  border: 1px solid #f1f5f9;
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon {
  width: 40px;
  height: 40px;
  background-color: #eff6ff;
  color: var(--primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  display: flex;
  flex-direction: column;
}

.merchant {
  font-weight: 600;
  color: var(--text-primary);
  font-size: 1rem;
}

.category {
  font-size: 0.75rem;
  color: var(--text-secondary);
}

.amount {
  font-weight: 700;
  color: var(--text-primary);
}