/* IMPORTAMOS fuentes de Google */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols_Outlined:wght,FILL@100..700,0..1&display=swap');

:root {
  /* PALETA DE COLORES (modo claro) */
  --color-primary: #13e1ec;
  --color-bg: #f6f8f8;
  --color-surface: #fff;

  /* TEXTOS */
  --color-text-main: #0f172a;
  --color-text-muted: #64748b;
  --color-text-light: #94a3b8;

  /* OTROS */
  --color-border: #f1f5f9;
  --color-danger: #ef4444;
  --color-success: #15803d;
  --bg-success: #dcfce7;

  --font-display: 'Plus Jakarta Sans', sans-serif;
}

/* MODO OSCURO (basado en el sistema del usuario) */
@media (prefers-color-scheme: dark){
  :root {
    --color-bg: #102122;
    --color-surface: #162a2b;
    --color-text-main: #f8fafc;
    --color-text-muted: #94a3b8;
    --color-border: #1e293b;
    --bg-success: rgba(21, 128, 61, 0.3);
    --color-success: #4ade80;
  }
}

/* RESETEO BASE */
body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text-main);
  font-family: var(--font-display);
  -webkit-font-smoothing: antialiased;
}

/* Clase utilitaria para ocultar scrollbars */
.no-scrollbar::-webkit-scrollbar{
  display: none;
}
.no-scrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}